#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

.story-view {
	display: flex;
	flex-wrap: nowrap;
	border: 1px solid #339933;
	max-height: 50vw;
}

.stories {
	display: flex;
	flex-grow: 0;
	flex-basis: 35%;
	flex-flow: column nowrap;
	justify-content: flex-start;
	overflow-x: hidden;
	overflow-y: scroll;
}

.story-details {
	flex-grow: 0;
	flex-basis: 65%;
	padding: .75rem 1rem;
}


.stories .card {
	height: 200px;
	max-width: 100%;
	padding: 0 0 .75rem 0;
	border: 0 solid #339933;
	border-bottom-width: 1px;
	border-radius: 0;
	background: #1a1a1a;
	cursor: pointer;
}
.stories .card:hover {
	border-color: #66FF33;
	box-shadow: inset -.25rem -.5rem 1rem -.75rem #66FF33;
}

.stories .card h2 {
	font-size: 1.2rem;
	margin: 0 .25rem;
}
.stories .card .url {
	margin: .25rem 1.5rem;
}


/* Set up the meta data prettily */
.meta {
	display: flex;
	justify-content: space-between;
	padding: .5rem .75rem;
}
.meta .score {
	flex-grow: 1;
}
.meta .has-body {
	padding-left: .75rem;
}
.story-details .meta .author {
	flex-grow: 1;
	display: flex;
	justify-content: end;
}
.meta :after {
	margin: 0 .625rem 0 .125rem;
}
.meta :before {
	margin: 0 .125rem 0 .625rem;
}
.meta .score:after {
	content: "👍";
	display: inline-block;
	transform: scaleX(-1);
}
.meta .username:before {
	content: "👤"
}
.story-details .meta .author .karma:before {
	content: "❤️"
}
.story-details .meta .author .created:before {
	content: "📅"
}
